*{
  margin: 0px;
  padding: 0px;
}

body{
  padding: 0vw 2vw;
}

.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0px;
  padding: 1vw 0vw;
  background-color:white;
  border-bottom: 0.2vw solid rgba(0, 0, 0, 0.196);
}

.navbar a{
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 2vw;
  color: rgba(0, 0, 0, 0.432);
}

.logo{
  width: 5vw;
  vertical-align:middle;
}